/* MAIN */
/*-------------------------------------------------------*/

.col-sm-4 p:hover {
  font-style: italic;
  background-color:gold;
}


/* Small devices (600px and down) */
@media only screen and (max-width: 600px) {
  .row {
    background:rgb(255, 238, 0)
  }
}
/* Small devices (600px and up) */
@media only screen and (min-width: 600px) {
  .row {
    background:rgb(89, 255, 0)
  }
}
/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
  .row {
    background:rgb(56, 179, 21)
  }
}
/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
  .row {
    background:rgb(31, 146, 235)
  }
}
/* Extra large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
  .row {
    background:rgb(204, 209, 212)
  }
}
