* {
  box-sizing: border-box;
  margin: 0 auto;
 /* border: 1px black solid;*/
}

body {
  background-color: white;
  font-family: "Marcellus", Arial;
  font-weight: 400;
  font-style: normal;
  margin: 0.5rem;
}
/* HEADER */
header {
  background-color: blueviolet;
  margin: 0.5rem auto;
}
.header-logo {
  width: auto;
  display: inline-block;
  margin: 0 auto;
}
.header-menubar {
  left: auto;
  position: relative;
  top: auto;
  width: auto;
  display: inline-block;
  margin: 0 auto;
  font-size: 1rem;
}
.header-menubar ul {
  list-style: none;
  margin: 0;
}
.header-menubar li {
  float: left;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.header-menubar a {
  text-decoration: none;
  color: black;
}
.header-menubar a:hover {
  color: red;
}
.a-efecto {
  display: inline-block;
  background: white;
  color: black;
  padding: 8px 16px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.a-efecto:hover {
  background: #fff;
  color: darkred;
  padding: 32px;
  border: 1px solid darkred;
}

/* MAIN */
/*-------------------------------------------------------*/
.main-principal {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.contenido-principal {
 /* border: 2px red solid;*/
  margin: 0.5rem;
  padding: 0.5rem;
}
.contenido-aside {
/*  border: 2px green solid;*/
  margin: 0.5rem;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .main-principal {
    display: flex;
    justify-content: space-between;
  }
  .contenido-aside {
    flex-basis: calc(20% - 1rem);
  }
  .contenido-principal {
    flex-basis: calc(60% - 1rem);
  }
}

/* Small devices (600px and down) */
@media only screen and (max-width: 600px) {
  .contenido-principal {
    background: rgb(255, 238, 0);
  }
  .contenido-aside {
    background: rgb(178, 122, 122);
  }
}
/* Small devices (600px and up) */
@media only screen and (min-width: 600px) {
  .contenido-principal {
    background: rgb(89, 255, 0);
  }
  .contenido-aside {
    background: rgb(219, 88, 88);
  }
}
/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
  .contenido-principal {
    background: rgb(56, 179, 21);
  }
  .contenido-aside {
    background: rgb(163, 93, 93);
  }
}
/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
  .contenido-principal {
    background: rgb(31, 146, 235);
  }
  .contenido-aside {
    background: rgb(234, 10, 193);
  }
}
/* Extra large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
  .contenido-principal {
    background: rgb(204, 209, 212);
  }
  .contenido-aside {
    background: rgb(10, 234, 219);
  }
}

.clipped {
  border: 0;
  position: absolute;
  z-index: -1;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  display: block;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
}

footer {
  float: left;
}
