/* MAIN */
/*-------------------------------------------------------*/
.main-principal {
  max-width: 1200px;
  width: 100%;
  margin:auto;
}

.main-principal p:hover {
  font-style: italic;
}

.contenido-principal {
  margin: 0.5rem;
  padding: 0.5rem;
}

.contenido-aside {
  margin: 0.5rem;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .main-principal {
    display: flex;
    justify-content: space-between;
  }
  .contenido-aside {
    flex-basis: calc(20% - 1rem);
  }
  .contenido-principal {
    flex-basis: calc(60% - 1rem);
  }
}

/* Small devices (600px and down) */
@media only screen and (max-width: 600px) {
  .contenido-principal {
    background: rgb(255, 238, 0);
  }
  .contenido-aside {
    background: rgb(178, 122, 122);
  }
}
/* Small devices (600px and up) */
@media only screen and (min-width: 600px) {
  .contenido-principal {
    background: rgb(89, 255, 0);
  }
  .contenido-aside {
    background: rgb(219, 88, 88);
  }
}
/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
  .contenido-principal {
    background: rgb(56, 179, 21);
  }
  .contenido-aside {
    background: rgb(163, 93, 93);
  }
}
/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
  .contenido-principal {
    background: rgb(31, 146, 235);
  }
  .contenido-aside {
    background: rgb(234, 10, 193);
  }
}
/* Extra large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
  .contenido-principal {
    background: rgb(204, 209, 212);
  }
  .contenido-aside {
    background: rgb(10, 234, 219);
  }
}
