* {
  box-sizing: border-box;
}

html{
    font-size: 1rem;
    height: 100%
}

body {
  background-color: gray;
  font-family:"Marcellus", "Courier New";
}

header, main , footer {
  border: 3px red solid;
  min-height: 50px;
  margin: 0.5rem;
  min-width: 400px;
}

header{
  background-color: white;
}
main {
  min-height: 200px;
  overflow: auto;
  background-color: white;
}

footer{
  background-color: white;
}
main>div{
  border: 2px blue solid;
  min-height: 180px;
  height: auto;
  float: left;
  width: 65%;
}
main>aside{
  border: 2px blue solid;
  min-height: 180px;
  min-width: 35%;
  float: left;
  width: auto;
}

.secciones{
  border: 2px green solid;
  min-height: 50px;
  margin: 0.5rem;
}

.secciones article{
  border: 2px purple solid;
  min-height: 20px;
  margin: 0.5rem;
}

#gif-ppal{
  width: 100%;
}